@tailwind base;

@tailwind components;

@tailwind utilities;

.item {
    opacity: 0.5;
    transition: all 0.3s;
}

.item:hover {
    opacity: 1;
    transform: scale(1.1);
}

.items {
    padding: 10px 0 !important;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}